# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(process.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
# Cambien este link para enlazarlo a su base de datos local
DATABASE_URL=postgresql://gitpod@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_ENV=development

#Este tambien debe ser cambiado al link que genere su backend
BACKEND_URL=172.16.0.7:3001

# Front-End Variables
BASENAME=/
