.fit-content{
    width: 0px;
    text-align: center;
    display: inline-block;
    height: fit-content;
}

.comment-sizer{
    width: 15vw;
}

.profile-photo{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

.text-middle{
    text-align: center;
}

.button-clearer{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.star-color{
    color: orange;
}

.img_comment_home{
    width: 5rem;
    border-radius: 100%;
    height: 5rem;

}

.div_comentario{
    padding-bottom: 1.5rem;
    border-bottom: 1px solid navy;
}

.title_comment_component{
    color: navy;
}

.card-user-title{
    text-align: left;
}

.rating_stars{
    text-align: end;
}

.card-text-observation{
    text-align: justify;
}

.div-username-and-stars{
    padding-top: 0.5rem;
}

.div-service-comment{
    height: 10rem;
    overflow: auto;
}

.paragraph-under-comments{
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: right;
    color: rgb(5, 5, 63);
}

.observation{
    text-align: left;
    margin-left: 3rem;
}

.comment-card{
    width: 60rem;
}

.comment-counter{
    text-align: right;
}

.input-comment{
    text-align: right;
}