.home-title, .name-servu-descriptico{
    color: navy;
}
.div-img-home{
    padding-left: 3rem;
}
.description{
    text-align: justify;
    padding-top: 1rem;
     
    top: 62%;
    left: 50%;
    
}
