/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.view-border {
    border: 1px solid black;
}

body {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23FFFFFF' cx='50' cy='0' r='50'/%3E%3Cg fill='%23fbfeff' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f8fdff' cx='50' cy='100' r='50'/%3E%3Cg fill='%23f4fcff' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f0fbff' cx='50' cy='200' r='50'/%3E%3Cg fill='%23edfaff' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e9f9ff' cx='50' cy='300' r='50'/%3E%3Cg fill='%23e5f8ff' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e1f7ff' cx='50' cy='400' r='50'/%3E%3Cg fill='%23def6ff' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23daf5ff' cx='50' cy='500' r='50'/%3E%3Cg fill='%23d6f4ff' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d2f3ff' cx='50' cy='600' r='50'/%3E%3Cg fill='%23cef2ff' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23caf1ff' cx='50' cy='700' r='50'/%3E%3Cg fill='%23c6f0ff' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c2efff' cx='50' cy='800' r='50'/%3E%3Cg fill='%23beeeff' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23baedff' cx='50' cy='900' r='50'/%3E%3Cg fill='%23b5ecff' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23B1EBFF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    /* background-repeat: no-repeat;
    background-position: center; */
}

.button-styler{
    background: rgb(22,89,117)
}

.testFooter {
    
    min-height:100vh; 
    display:flex; 
    flex-direction:column; 
    justify-content:space-between;
  }

.background{
    background-color: rgb(116, 206, 168);
    color: white;
    border-radius: 10px;
}

.special {
    background-color: rgb(45, 126, 92);
    color: white;
    border-radius: 10px;
}