.div-nav-logo{
    margin-left: 3rem;
}
.div-nav-links{
    margin-right: 3rem;
}
.navbar-contenedor{
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: transparent;
    opacity: 1;
}

.container-navbar{
    padding-left: 0rem;
    padding-right: 0rem;
    background-color: transparent;
    opacity: 1;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
}
.searching{
    width: 50vh;
}
.button-style{
    margin-left: 3em;
    width: 10rem;
}

.boton-diasble{
    opacity: 0.6;
    cursor: not-allowed;
}